@import '../components/reset.scss';
@import '../components/header/header.scss';
@import '../components/description/description.scss';
@import '../components/mailing/mailing.scss';
@import '../components/footer/footer.scss';
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 10px;
}
.background-black {
    background-color: #333333;
}
.filter {
    flex: 1 0 auto;
    padding: 20px 0px;
    &__menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
        select {
            border: none;
            border-bottom: 1px solid #D6D6D6;
            flex: 0 1 15%;
            padding: 10px;
            font-family: 'Gilroy Medium';
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
        }
        option {
            cursor: pointer;
        }
    }
    &__elements {
        display: flex;
        flex-wrap: wrap;
    }
    &__element {
        text-decoration: none;
        color: black;
        font-family: 'Gilroy Medium';
        display: flex;
        flex: 0 0 33%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        transition: .3s;
        img, p {
            margin-bottom: 15px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    &__price {
        border: 1px solid #FFFFFF;
        background-color: black;
        color: white;
        padding: 10px 20px;
        }
}
@media (max-width: 900px) {
    .filter {
        &__menu {
            select {
                flex: 0 0 33%;
            }
        }
        &__element {
            flex: 0 0 50%;
        }
    }
}
@media (max-width: 600px) {
    .filter__menu {
        select {
            flex: 0 0 50%;
            font-size: 14px;
        }
    }
    .filter__element {
        flex: 0 0 100%;
    }
}
.footer {
    flex: 0 0 auto;
}

