.mailing {
    background: url('media/grid-background.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    &__subtitle {
        font-family: 'Gilroy Medium';
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 15px;
        text-align: center;
    }
    &__title {
        font-family: 'Noto Serif Regular';
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 50px;
        text-align: center;
    }
}
.form {
    display: flex;
    &__texts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    &__text {
        font-family: 'Gilroy Medium';
        font-size: 18px;
        line-height: 1.4;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: url('media/triangle.svg') no-repeat center;
            width: 17px;
            height: 17px;
            left: -20px;
        }
    }
    &__form {
        align-self: baseline;
        width: 400px;
        height: 100px;
        margin-left: 40px;
        padding: 14px 15px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background-color: white;
        input {
            padding: 14px 20px;
            border: 1px solid #D6D6D6;
            box-sizing: border-box;
        }
        button {
            background-color: #333333;
            padding: 14px 35px;
            color: white;
            cursor: pointer;
            &:hover {
                background-color: #4d4b4b;
            }
        }
    }
}
@media (max-width: 700px) {
    .mailing {
        padding: 30px;
    }
    .form {
        flex-direction: column;
        align-items: center;
        &__texts {
            margin-bottom: 10px;
        }
        &__form {
            margin-left: 0px;
            width: 300px;
            height: 70px;
            input {
                padding: 0px;
            }
            button {
                padding: 0px;
            }
        }
    }
}
