@import '../components/reset.scss';
@import '../components/header/header.scss';
@import '../components/breadcrumps/breadcrumps.scss';
@import '../components/footer/footer.scss';

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 10px;
}
.background-black {
    background-color: black;
}
.contacts {
    &__title {
        text-align: center;
        font-family: 'Gilroy Medium';
        font-size: 24px;
        line-height: 1.15;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h3 {
            margin-bottom: 20px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__link {
        font-family: 'Gilroy Medium';
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;
        color: black;
        position: relative;
        transition: .3s;
        padding-left: 20px;
        margin-bottom: 15px;
        &:hover {
            transform: scale(1.05);
        }
        &:first-of-type {
            &:before {
                position: absolute;
                content: '';
                width: 17px;
                height: 17px;
                left: 0;
            }            
        }
        &--adress::before {
            background: url('media/gps.svg') no-repeat center;
        }
        &--telephone::before {
            background: url('media/telephone.svg') no-repeat center;
        }
        &--email::before {
            background: url('media/mail.svg') no-repeat center;
        }
    }
    &__map {
        border-top: 1px solid #D6D6D6;
        padding: 50px 0px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 700px) {
    .contacts__item {
        flex: 0 0 48%;
    }
}
